<h1 class="page-header">
  <span><i class="fa fa-globe"></i> Namespace context</span>
</h1>

<p>Citrus works with XML messages and XPath expressions. When using XSD schema rules your XML messages do follow some namespace declaration rules. The namespaces and the according prefixes
  can be managed in a central namespace context component. All XPath expressions will use the context for namespace resolving.</p>

<br/>

<form>
  <div class="row">
    <div class="col-xs-3">
      <input [(ngModel)]="newNamespace.prefix" placeholder="Prefix" type="text" class="form-control" name="newNamespacePrefix"/>
    </div>

    <div class="col-xs-5">
      <input [(ngModel)]="newNamespace.uri" placeholder="Uri" type="text" class="form-control" name="newNamespaceUri"/>
    </div>

    <button class="btn btn-primary" [disabled]="!newNamespace.prefix || !newNamespace.uri" (click)="addNamespace()" type="submit"><i class="fa fa-plus"></i> Add</button>
    <button class="btn btn-default" (click)="cancel()" type="reset">Cancel</button>
  </div>
</form>

<br/>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Prefix</th>
        <th>Uri</th>
        <th width="20"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="namespaceContext.namespaces.length == 0">
        <td colspan="3"><i class="fa fa-times"></i> No namespaces defined</td>
      </tr>
      <tr *ngFor="let namespace of namespaceContext.namespaces" class="clickable">
        <td>{{namespace.prefix}}</td>
        <td>{{namespace.uri}}</td>
        <td><a class="btn-remove" (click)="removeNamespace(namespace, $event)" name="remove" title="Remove namespace"><i class="fa fa-times" style="color: #A50000;"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>