<div class="container content-header">
  <div>
    <h1>
      <i class="fa fa-wrench"></i> Configuration <small>Application context configuration</small>
    </h1>
  </div>
</div>

<div class="container">
  <pills justified="true">
    <pill pill-id="endpoints" pill-title="Endpoints" [active]="isActive('endpoints')">
      <endpoints></endpoints>
    </pill>
    <pill pill-id="schema-repository" pill-title="Schema Definitions" [active]="isActive('schema-repository')">
      <schema-repository></schema-repository>
    </pill>
    <pill pill-id="global-variables" pill-title="Global Variables" [active]="isActive('global-variables')">
      <global-variables></global-variables>
    </pill>
    <pill pill-id="function-library" pill-title="Functions" [active]="isActive('function-library')">
      <function-library></function-library>
    </pill>
    <pill pill-id="validation-matcher" pill-title="Validation Matcher" [active]="isActive('validation-matcher')">
      <validation-matcher></validation-matcher>
    </pill>
    <pill pill-id="data-dictionary" pill-title="Data Dictionaries" [active]="isActive('data-dictionary')">
      <data-dictionary></data-dictionary>
    </pill>
    <pill pill-id="namespace-context" pill-title="Namespace Context" [active]="isActive('namespace-context')">
      <namespace-context></namespace-context>
    </pill>
  </pills>

  <div class="alert-console" type="detailed"></div>
</div>