<div class="container content-header">
  <div class="row">
    <div class="col-lg-8">
      <h1>
        <i class="fa fa-cubes"></i> Tests <small>Citrus integration test cases</small>
      </h1>
    </div>
    <div class="col-lg-4">
      <form>
        <autocomplete id="search-test" addon="search" icon="file-text-o" placeholder="TestName" minLength="1" [items]="testNames" (selected)="onTestSelected($event)"></autocomplete>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="content-nav">
    <span>On this page you see all test cases in this project. Select a test and execute it with a run configuration.</span>
  </div>

  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default" (click)="openTestList()">Open</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li *ngIf="packages.length == 0" role="presentation"><a role="menuitem" name="tests">No tests found</a></li>
      <li *ngFor="let package of packages" role="presentation" class="dropdown-submenu pull-left">
        <a role="menuitem" name="tests" class="clickable"><i class="fa fa-cubes"></i> {{package.name}}</a>
        <ul class="dropdown-menu" role="menu">
          <li *ngFor="let test of package.tests" role="presentation"><a role="menuitem" (click)="open(test)" name="{{test.name}}" class="clickable"><i class="fa fa-file-text-o"></i> {{test.name  | truncate:40}}</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <tabs dynamic="true" (selected)="onTabSelected($event)" (closed)="onTabClosed($event)">
    <tab *ngFor="let test of openTests" tab-id="{{test.name}}" tab-title="{{test.name}}" closable="true"></tab>
    <test-detail *ngIf="activeTest" [test]="activeTest"></test-detail>
  </tabs>

  <div *ngIf="openTests.length == 0" style="display: block; text-align: center; margin-top: 150px;">
    <h3>Open test(s)</h3>
    <p>Press 'O' to open test</p>
  </div>

  <div class="dialog"
       dialog-id="dialog-list-tests"
       dialog-title="List of tests"
       dialog-confirm="no">
    <test-listgroup [test-groups]="packages" (selected)="open($event);closeTestList()"></test-listgroup>
  </div>
</div>

<div class="alert-dialog"></div>