<div class="container space-top-30">
  <h1 class="page-header">New project</h1>

  <form class="form-horizontal" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Git repository</legend>

      <div class="form-group">
        <label class="col-sm-2 control-label">Repository URL</label>

        <div class="col-sm-10">
          <input [(ngModel)]="repository.url" type="text" class="form-control" placeholder="Repository URL" name="url" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Branch</label>

        <div class="col-sm-10">
          <input [(ngModel)]="repository.branch" type="text" class="form-control" placeholder="Branch" name="branch" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Module</label>

        <div class="col-sm-10">
          <input [(ngModel)]="repository.module" type="text" class="form-control" placeholder="Module" name="module" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" type="submit" [disabled]="repository.url?.length > 0 ? false : true">Load project</button>
          <button (click)="cancel()" class="btn btn-default" type="reset">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>

  <form class="form-horizontal" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Maven Archetype</legend>

      <div class="form-group">
        <label class="col-sm-2 control-label">GroupId</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input [(ngModel)]="archetype.archetypeGroupId" type="text" class="form-control" placeholder="GroupId" name="archetypeGroupId" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeGroupId = 'com.consol.citrus.mvn'" class="clickable"><i class="fa fa-cubes"></i> com.consol.citrus.mvn</a>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">ArtifactId</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input [(ngModel)]="archetype.archetypeArtifactId" type="text" class="form-control" placeholder="ArtifactId" name="archetypeArtifactId" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeArtifactId = 'citrus-quickstart'" class="clickable"><i class="fa fa-cube"></i> citrus-quickstart</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeArtifactId = 'citrus-quickstart-jms'" class="clickable"><i class="fa fa-cube"></i> citrus-quickstart-jms</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeArtifactId = 'citrus-quickstart-soap'" class="clickable"><i class="fa fa-cube"></i> citrus-quickstart-soap</a>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Version</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input [(ngModel)]="archetype.archetypeVersion" type="text" class="form-control" placeholder="GroupId" name="archetypeVersion" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.7.2'" class="clickable"><i class="fa fa-cubes"></i> 2.7.2</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.7.1'" class="clickable"><i class="fa fa-cubes"></i> 2.7.1</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.7'" class="clickable"><i class="fa fa-cubes"></i> 2.7</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.6.2'" class="clickable"><i class="fa fa-cubes"></i> 2.6.2</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.6.1'" class="clickable"><i class="fa fa-cubes"></i> 2.6.1</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.6'" class="clickable"><i class="fa fa-cubes"></i> 2.6</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.5.2'" class="clickable"><i class="fa fa-cubes"></i> 2.5.2</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.5.1'" class="clickable"><i class="fa fa-cubes"></i> 2.5.1</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.5'" class="clickable"><i class="fa fa-cubes"></i> 2.5</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.4'" class="clickable"><i class="fa fa-cubes"></i> 2.4</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.3'" class="clickable"><i class="fa fa-cubes"></i> 2.3</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" name="all" (click)="archetype.archetypeVersion = '2.2'" class="clickable"><i class="fa fa-cubes"></i> 2.2</a>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Project</legend>
      
      <div class="form-group">
        <label class="col-sm-2 control-label">GroupId</label>
        <div class="col-sm-10">
          <input [(ngModel)]="archetype.groupId" type="text" class="form-control" placeholder="GroupId" name="groupId" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">ArtifactId</label>
        <div class="col-sm-10">
          <input [(ngModel)]="archetype.artifactId" type="text" class="form-control" placeholder="ArtifactId" name="artifactId" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Version</label>
        <div class="col-sm-10">
          <input [(ngModel)]="archetype.version" type="text" class="form-control" placeholder="Version" name="version" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Package</label>
        <div class="col-sm-10">
          <input [(ngModel)]="archetype.packageName" type="text" class="form-control" placeholder="Package" name="packageName" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" type="submit" [disabled]="(archetype.groupId?.length > 0 && archetype.artifactId?.length > 0) ? false : true">Create project</button>
          <button (click)="cancel()" class="btn btn-default" type="reset">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>

  <div *ngIf="loading" style="display: block; text-align: center; margin-top: 25px;">
    <img class="ajax-loader" src="assets/images/ajax-loader.gif" style="width: 1.5em;"/>&nbsp;Loading project ...
  </div>

  <div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" (click)="clearError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error!</strong>&nbsp;Failed to create new project.
    <p>&nbsp;</p>
    <p><strong>What happened!?</strong></p>
    <p [textContent]="error.message"></p>
  </div>

  <div *ngIf="success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" (click)="clearSuccess()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong>&nbsp;<span [textContent]="success"></span>
  </div>
</div>
