<div class="container content-header">
  <div>
    <h1>
      <i class="fa fa-cubes"></i> Log <small>Latest alerts and events</small>
    </h1>
  </div>
</div>

<div class="container">
  <div class="content-nav">
    <span>See below the latest alerts and events listed</span>
  </div>

  <div *ngFor="#alert of alerts" class="alert alert-{{alert.type}} alert-dismissible" role="alert">
    <button type="button" class="close" (click)="clearAlert(alert)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><i class="fa {{alert.type}}"></i>&nbsp;{{alert.type}}:</strong>&nbsp;<span [textContent]="alert.message"></span>&nbsp;<a *ngIf="alert.link" class="alert-link" href="{{alert.link.url}}">{{alert.link.name}}</a>
  </div>
</div>