<h2 class="page-header">
  <span><i class="fa fa-check-square"></i> Validation Matcher Libraries</span>
  <div class="btn-group pull-right">
    <button [disabled]="selectedLibrary" (click)="initLibrary()" type="button" class="btn btn-default dropdown-toggle">New</button>
  </div>
</h2>

<p>When validating incoming messages Citrus is able to consult the service of validation matcher implementations. These validation matcher bring more flexibility to a validation operation.
  When comparing a received value with an expected control value validation matcher help to get more powerful validation capabilities. Citrus offers a default list of validation matcher implementations
  such as equalsIgnoreCase or isNumber. Of course you can easily write your own validation matcher and put it to some custom validation matcher library.</p>

<p>Your project defines <span class="badge badge-emphasis badge-citrus">{{libraries.length}}</span> custom validation matcher libraries. See all available libraries listed below:</p>

<br/>

<form *ngIf="newLibrary" class="form-horizontal">
  <h3>New Library</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="newLibrary.id" placeholder="Name" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Prefix <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="newLibrary.prefix" placeholder="Prefix" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">ValidationMatchers</label>
    <div class="col-sm-3">
      <input [(ngModel)]="newValidationMatcher.name" type="text" class="form-control"/>
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="newValidationMatcher.clazz" placeholder="Implementation Class" type="text" class="form-control"/>
    </div>
    <div class="col-sm-1">
      <button (click)="addValidationMatcher()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="#matcher of newLibrary.matchers" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{matcher.name}}()</b> class={{matcher.clazz}}&nbsp;<a class="pull-right" name="remove-matcher" title="Remove matcher" (click)="removeValidationMatcher(matcher)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="createLibrary()" type="submit">Create</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<form *ngIf="selectedLibrary" class="form-horizontal">
  <h3>Edit Library</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="selectedLibrary.id" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Prefix <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="selectedLibrary.prefix" placeholder="Prefix" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">ValidationMatchers</label>
    <div class="col-sm-3">
      <input [(ngModel)]="newValidationMatcher.name" type="text" class="form-control"/>
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="newValidationMatcher.clazz" placeholder="Implementation Class" type="text" class="form-control"/>
    </div>
    <div class="col-sm-1">
      <button (click)="addValidationMatcher()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="#matcher of selectedLibrary.matchers" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{matcher.name}}()</b> class={{matcher.clazz}}&nbsp;<a class="pull-right" name="remove-matcher" title="Remove matcher" (click)="removeValidationMatcher(matcher)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="saveLibrary()" type="submit">Save</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<div *ngIf="!newLibrary && !selectedLibrary" class="list-group">
  <div *ngIf="libraries.length == 0" class="list-group-item"><i class="fa fa-times"></i> No validation matcher libraries defined</div>

  <div *ngFor="#library of libraries" class="list-group-item clickable" (click)="selectLibrary(library)">
    <a class="pull-right" (click)="removeLibrary(library, $event)" name="remove" title="Remove library"><i class="fa fa-times" style="color: #A50000;"></i></a>
    <span class="label label-primary"><i class="fa fa-check-square"></i></span>&nbsp;
    <span><b>{{library.id}} ({{library.prefix}})</b></span>
    <ul class="properties">
      <li *ngFor="#matcher of library.matchers"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{matcher.name}}()</b></li>
    </ul>
  </div>
</div>
