<h4 class="box"><i class="fa fa-play-circle color-success"></i> {{detail?.name}}</h4>
<b>Author: </b><span class="badge badge-primary" [textContent]="detail?.author ? detail?.author : 'Unknown'"></span>
<b>Status: </b><span class="badge badge-primary" [textContent]="detail?.status ? detail?.status : 'FINAL'"></span>
<b *ngIf="detail?.packageName">Package: </b><span *ngIf="detail?.packageName" class="badge badge-primary">{{detail?.packageName}}</span>
<b *ngIf="detail?.result">Result: </b><span [class]="!detail?.result || detail?.result.success ? 'badge badge-success border-success' : 'badge badge-danger border-danger'" [textContent]="detail?.result?.success ? 'SUCCESS' : 'FAILED'">

<form *ngIf="edit" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input [(ngModel)]="detail.name" class="form-control" type="text" placeholder="Name" name="detailName"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input [(ngModel)]="detail.author" class="form-control" type="text" placeholder="Author" name="detailAuthor"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
      <input [(ngModel)]="detail.status" class="form-control" type="text" placeholder="Status" name="detailStatus"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Package</label>
    <div class="col-sm-10">
      <input [(ngModel)]="detail.packageName" class="form-control" type="text" placeholder="Package" name="detailPackageName"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="detail.description" rows="4" class="form-control" name="detailDesc"></textarea>
    </div>
  </div>
</form>