<tabs dynamic="false" >
  <tab *ngFor="let test of openTests|async"
       tab-id="{{test.name}}"
       tab-title="{{test.name}}" closable="true"
       [active]="test === (selectedTest|async)"
       (select)="onTabSelected(test)"
       (close)="onTabClosed(test)">
  </tab>
  <ul class="nav nav-pills pills-bar justified">
    <li *ngFor="let entry of menuEntries" [class.active]="isActive(entry.link)">
      <a [routerLink]="[entry.link]"><i  class="{{'fa ' + entry.icon}}"></i>&nbsp;{{entry.name}}</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</tabs>





<div class.clearfix="false"></div>