<div class="container content-header">
  <div>
    <h1>
      <i class="fa fa-cube"></i> Project <small>Settings & Information</small>
    </h1>
  </div>
</div>

<div class="container">
  <div>
    <ul class="nav nav-pills nav-justified">
      <li *ngFor="let entry of menuEntries" [class.active]="isActive(entry.link[0])">
        <a [routerLink]="entry.link">{{entry.name}}</a>
      </li>
    </ul>
  </div>
  <div [class.clearfix]="navigation && pullRight"></div>
  <router-outlet></router-outlet>

  <div class="alert-console" type="detailed"></div>

  <div class="dialog"
       dialog-id="dialog-connector"
       dialog-title="Admin connector library"
       (confirmed)="manageConnector($event)">
    <p>Add/remove connector library from project '{{project.name}}'. When connected events get pushed in real time during the test runs.</p>

    <h4 *ngIf="project.settings.connectorActive" class="text-success"><i class="fa fa-check-square-o"></i> Currently connector is active!</h4>
    <h4 *ngIf="!project.settings.connectorActive" class="text-danger"><i class="fa fa-minus-square-o"></i> Currently connector is inactive!</h4>

    <div class="box box-center">
      <img src="app/images/brand-logo.png" />
      <strong>citrus-admin-ui</strong>
      <i *ngIf="project.settings.connectorActive" class="fa fa-arrows-h fa-lg text-success"></i>
      <i *ngIf="!project.settings.connectorActive" class="fa fa-remove fa-lg text-danger"></i>
      <img src="app/images/brand-logo.png" />
      <strong>{{project.name}}</strong>
    </div>

    <br />

    <p *ngIf="project.settings.connectorActive">This operation will remove the connectivity!</p>
    <p *ngIf="!project.settings.connectorActive">This operation will add the connectivity!</p>
  </div>
</div>