<div class="container space-top-30">
  <h1 class="page-header">Open project <span name="edit-settings" class="clickable pull-right" (click)="showSettings()" title="Edit project settings"><i class="fa fa-wrench"></i></span></h1>

  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group">
        <label>Select project home directory</label>

        <div class="input-group">
          <input [(ngModel)]="projectHome" type="text" class="form-control" placeholder="Project Home" name="projectHome" />
          <a (click)="browse()" class="btn btn-default input-group-addon" type="button">...</a>
        </div>
      </div>

      <div class="form-group">
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="projectHome?.length > 0 ? false : true">Open</button>
          <button (click)="cancel()" class="btn btn-default" type="reset">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>

  <div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" (click)="clearError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error!</strong>&nbsp;Failed to open the project. Please review the default <a name="edit-settings" class="clickable" (click)="showSettings()">project settings</a> that are required to open the project.
    <p>&nbsp;</p>
    <p><strong>What happened!?</strong></p>
    <p [textContent]="error.message"></p>
  </div>

  <div *ngIf="success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" (click)="clearSuccess()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong>&nbsp;<span [textContent]="success"></span>
  </div>
  
  <h2 class="sub-header">Recent projects</h2>
  <ul class="list-group">
    <li *ngIf="recentlyOpened.length == 0" class="list-group-item"><span><i class="fa fa-file-text-o"></i> No recently opened projects</span></li>
    <li *ngFor="let item of recentlyOpened" class="list-group-item clickable" (click)="open(item)"><span><i class="fa fa-file-text-o"></i> <strong>{{item | slice:item.lastIndexOf('/')+1}}</strong> {{item}}</span></li>
  </ul>
</div>

<div id="dialog-settings" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Default project settings</h3>
      </div>

      <div class="modal-body">
        <p>These are the default project settings for opening a project. Projects must meet these settings to be opened.</p>

        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Java Sources</label>
            <div class="col-sm-10">
              <input [(ngModel)]="settings.javaSrcDirectory" type="text" class="form-control" name="javaSrcDirectory"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">XML Sources</label>
            <div class="col-sm-10">
              <input [(ngModel)]="settings.xmlSrcDirectory" type="text" class="form-control" name="xmlSrcDirectory"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Spring Application Context</label>
            <div class="col-sm-10">
              <input [(ngModel)]="settings.springApplicationContext" type="text" class="form-control" name="springApplicationContext"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Spring Java Config</label>
            <div class="col-sm-10">
              <input [(ngModel)]="settings.springJavaConfig" type="text" class="form-control" name="springJavaConfig"/>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button (click)="saveSettings()" name="dialog-select" class="btn btn-primary">Save</button>
        <button (click)="hideSettings()" name="dialog-close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="dialog-file-tree" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Select project home</h3>
      </div>

      <div class="modal-body">
        <p>Please select Citrus project home directory and confirm.</p>
        <div id="file-tree" class="file-tree"></div>
      </div>

      <div class="modal-footer">
        <button (click)="select()" name="dialog-select" class="btn btn-primary">Select</button>
        <button (click)="close()" name="dialog-close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
