<h1 class="page-header"><i class="fa fa-cogs"></i> Project settings</h1>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.name" disabled="disabled" type="text" class="form-control" name="name"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Version <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.version" disabled="disabled" type="text" class="form-control" name="version"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="project.description" type="text" class="form-control" rows="4" name="description"></textarea>
    </div>
  </div>

  <h2 class="sub-header"><i class="fa fa-code"></i> Sources</h2>

  <div class="form-group">
    <label class="col-sm-2 control-label">Citrus <em>*</em></label>
    <div class="col-sm-10">
      <select [(ngModel)]="project.settings.citrusVersion" class="form-control" name="citrusVersion">
        <option value="2.7.2-SNAPSHOT">2.7.2-SNAPSHOT</option>
        <option value="2.7.1">2.7.1</option>
        <option value="2.7">2.7</option>
        <option value="2.6.2">2.6.2</option>
        <option value="2.6.1">2.6.1</option>
        <option value="2.6">2.6</option>
        <option value="2.5.2">2.5.2</option>
        <option value="2.5.1">2.5.1</option>
        <option value="2.5">2.5</option>
        <option value="2.4">2.4</option>
        <option value="2.3">2.3</option>
        <option value="2.2">2.2</option>
        <option value="2.1">2.1</option>
        <option value="2.0">2.0</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Java Sources <em>*</em></label>
    <div class="col-sm-5">
      <input [(ngModel)]="project.settings.javaSrcDirectory" type="text" class="form-control" name="javaSrcDirectory"/>
    </div>
    <div class="col-sm-5">
      <input [(ngModel)]="project.settings.javaFilePattern" type="text" class="form-control" name="javaFilePattern"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">XML Sources <em>*</em></label>
    <div class="col-sm-5">
      <input [(ngModel)]="project.settings.xmlSrcDirectory" type="text" class="form-control" name="xmlSrcDirectory"/>
    </div>
    <div class="col-sm-5">
      <input [(ngModel)]="project.settings.xmlFilePattern" type="text" class="form-control" name="xmlFilePattern"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Spring Application Context <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.settings.springApplicationContext" type="text" class="form-control" name="springApplicationContext"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Spring Java Config <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.settings.springJavaConfig" type="text" class="form-control" name="springJavaConfig"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Package <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.settings.basePackage" type="text" class="form-control" name="basePackage"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Tab size <em>*</em></label>
    <div class="col-sm-2">
      <input [(ngModel)]="project.settings.tabSize" type="text" class="form-control" name="tabSize"/>
    </div>
  </div>

  <h2 class="sub-header"><i class="fa fa-cogs"></i> Build settings</h2>

  <div class="form-group">
    <label class="col-sm-2 control-label">BuildType <em>*</em></label>
    <div class="col-sm-10">
      <select [(ngModel)]="project.settings.build.type" class="form-control" name="buildType">
        <option value="maven">maven</option>
      </select>
    </div>
  </div>

  <div *ngIf="project.settings.build.type === 'maven'" class="form-group">
    <label class="col-sm-2 control-label">TestPlugin</label>
    <div class="col-sm-10">
      <select [(ngModel)]="project.settings.build.testPlugin" class="form-control" name="testPlugin">
        <option value="maven-surefire">maven-surefire</option>
        <option value="maven-failsafe">maven-failsafe</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Custom command</label>
    <div class="col-sm-2">
      <input [(ngModel)]="useCustomCommand" type="checkbox" class="form-control" name="useCustomCommand"/>
    </div>
    <div *ngIf="useCustomCommand" class="col-sm-8">
      <input [(ngModel)]="project.settings.build.command" type="text" class="form-control" placeholder="Command" name="buildCommand"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Clean</label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.settings.build.clean" type="checkbox" class="form-control" name="buildUseClean"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Compile</label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.settings.build.compile" type="checkbox" class="form-control" name="buildUseCompile"/>
    </div>
  </div>

  <div *ngIf="project.settings.build.type === 'maven'" class="form-group">
    <label class="col-sm-2 control-label">Profiles</label>
    <div class="col-sm-10">
      <input [(ngModel)]="project.settings.build.profiles" type="text" class="form-control" name="buildProfiles"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Properties</label>
    <div class="col-sm-4">
      <input [(ngModel)]="propertyName" placeholder="Name" type="text" class="form-control" name="propertyName"/>
    </div>
    <div class="col-sm-4">
      <input [(ngModel)]="propertyValue" placeholder="Value" type="text" class="form-control" name="propertyValue"/>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="addProperty()">Add</button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngIf="project.settings.build.properties?.length == 0" class="list-group-item"><i class="fa fa-times"></i> No properties defined</div>
        <div *ngFor="let property of project.settings.build.properties" class="list-group-item clickable">
          <i class="fa fa-file-text-o"></i>&nbsp;<b>{{property.name}}</b> = {{property.value}}&nbsp;<a class="btn-remove pull-right" (click)="removeProperty(property, $event)" name="remove" title="Remove property"><i class="fa fa-times" style="color: #A50000;"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="saveSettings()" type="submit">Save settings</button>
    </div>
  </div>
</form>