<h1 class="page-header">
  <span><i class="fa fa-sitemap"></i> Spring application context</span>
</h1>

<p>Component configuration is stored as beans in Spring application context files. See the following context files that are known in your project.</p>

<br/>

<div *ngIf="selectedContext" class="fill">
  <h3>Spring application context</h3>

  <h5>{{selectedContext.fileName}}</h5>
  <pre id="context-editor" class="code-editor fill"></pre>

  <form>
    <div class="form-group">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-default" (click)="cancel()">Close</button>
    </div>
  </form>
</div>

<div *ngIf="!selectedContext">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>File</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngIf="contexts.length == 0">
          <td colspan="2"><i class="fa fa-file-text-o"></i> No context files found in project</td>
        </tr>
        <tr *ngFor="let context of contexts" class="clickable" (click)="select(context)">
          <td>
            <i class="fa fa-file-code-o"></i>
            <span title="{{context.name}}">{{context.name}}</span>
          </td>
          <td>
            <span title="{{context.fileName}}">{{context.fileName}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>