<h1 class="page-header">
  <span><i class="fa fa-check-square"></i> Validation Matcher Libraries</span>
  <div class="btn-group pull-right">
    <button [disabled]="selectedLibrary" (click)="initLibrary()" type="button" class="btn btn-default dropdown-toggle">New</button>
  </div>
</h1>

<p>When validating incoming messages Citrus is able to consult the service of validation matcher implementations. These validation matcher bring more flexibility to a validation operation.
  When comparing a received value with an expected control value validation matcher help to get more powerful validation capabilities. Citrus offers a default list of validation matcher implementations
  such as equalsIgnoreCase or isNumber. Of course you can easily write your own validation matcher and put it to some custom validation matcher library.</p>

<p>Your project defines <span class="badge badge-emphasis badge-citrus">{{libraries.length}}</span> custom validation matcher libraries. See all available libraries listed below:</p>

<br/>

<form *ngIf="selectedLibrary" class="form-horizontal" [formGroup]="form" (ngSubmit)="submitForm()">
  <h3 *ngIf="EditorMode.NEW === mode">New Library</h3>
  <h3 *ngIf="EditorMode.EDIT === mode">Edit Library</h3>
  <form-group
      [control]="form.get('id')"
      label="Name *">
    <input-with-addon
        [autofocus]="true"
        [(ngModel)]="selectedLibrary.id"
        formControlName="id"
        [message]="form.get('id').errors ? 'Name is required' : ''"></input-with-addon>
  </form-group>
  <form-group
      [control]="form.get('prefix')"
      label="Prefix *">
    <input-with-addon
        [(ngModel)]="selectedLibrary.prefix"
        formControlName="prefix"
        [message]="form.get('prefix').errors ? 'Prefix is required' : ''"></input-with-addon>
  </form-group>
  <div class="form-group">
    <label class="col-sm-2 control-label">Matchers</label>
    <div class="col-sm-3">
      <input [(ngModel)]="newValidationMatcher.name" [ngModelOptions]="{standalone: true}" placeholder="Name" type="text" class="form-control" name="newValidatorMName"/>
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="newValidationMatcher.clazz" [ngModelOptions]="{standalone: true}" placeholder="Implementation Class" type="text" class="form-control" name="newValidatorMClazz"/>
    </div>
    <div class="col-sm-1">
      <button (click)="addValidationMatcher()" [disabled]="!newValidationMatcher.name || !newValidationMatcher.clazz" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="let matcher of selectedLibrary.matchers" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{matcher.name}}()</b> class={{matcher.clazz}}&nbsp;<a class="pull-right" name="remove-matcher" title="Remove matcher" (click)="removeValidationMatcher(matcher)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Save</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<div *ngIf="!selectedLibrary" class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Prefix</th>
        <th>Matcher</th>
        <th width="20"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="libraries.length == 0">
        <td colspan="4"><i class="fa fa-times"></i> No validation matcher libraries defined</td>
      </tr>
      <tr *ngFor="let library of libraries" (click)="selectLibrary(library)" class="clickable">
        <td>{{library.id}}</td>
        <td>{{library.prefix}}</td>
        <td>
          <ul class="properties">
            <li *ngFor="let matcher of library.matchers"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{matcher.name}}()</b></li>
          </ul>
        </td>
        <td><a class="btn-remove" (click)="removeLibrary(library, $event)" name="remove" title="Remove library"><i class="fa fa-times" style="color: #A50000;"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>