body {
    padding-top: 20px;
}

/** Common **/

a {
    color: #3b73af;
}

a:hover {
    color: #fcc300;
    text-decoration: none;
}

.ajax-loader {
    margin-left: 10px;
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.clickable-hover:hover {
    background: #eff6fb;
}

ul.properties {
    margin: 0 0 0 0;
    padding-left: 100px;
}

ul.properties li {
    list-style: none;
    word-break: break-all;
    word-wrap: break-word;
}

/** Navigation **/

.navbar-brand {
    text-shadow: none;
}

.navbar-brand span {
    color: #ffffff;
}

.navbar-brand:hover span {
    color: #ffffff;
}

.navbar-brand img {
    float: left;
    margin-top: -2px;
    margin-right: 3px;
}

.navbar-default {
    background: #0096D6;
    border: none;
}

.navbar .nav > li > a {
    color: #ffffff;
    text-shadow: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active > a:focus {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > li > a.router-link-active, .navbar .nav > li > a.router-link-active:hover, .navbar .nav > li > a.router-link-active:focus {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

/** Nav Pills **/

.nav-pills > li {
    margin-right: 2px;
    margin-bottom: 2px;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.nav-pills > li > a {
    background: #eff6fb;
    color: #333;
    min-width: 223px;
    text-align: center;
    margin: 1px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: #e3effc;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #0096D6;
    color: #fff;
}

/** Container **/

.jumbotron {
    background-color: #eff6fb;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.jumbotron p {
    font-size: 18px;
    margin-top: 25px;
}

.jumbotron .btn {
    font-size: 18px;
}

.content-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-nav {
    background-color: #eff6fb;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 45px;
    border-radius: 4px;
    margin-bottom: 35px;
}

.content {
    margin-top: 20px;
}

/** Buttons **/

.btn-primary {
    color: #ffffff;
    border-color: #0096D6;
    background: #0096D6;
}

.btn-primary:hover {
    border-color: #33abde;
    background-color: #33abde;
}

.btn-citrus {
    color: #ffffff;
    text-shadow: none;
    background-color: #fcc300;
    background-image: -moz-linear-gradient(top , #fad011, #fcc300);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fad011), to(#fac300));
    background-image: -webkit-linear-gradient(top, #fad011, #fcc300);
    background-image: -o-linear-gradient(top, #fad011, #fcc300);
    background-image: linear-gradient(to bottom, #fad011, #fcc300);
    background-repeat: repeat-x;
    border-color: #fcc300 #fcc300 #fad011;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFBD06E', endColorstr='#ffF89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-citrus:hover,
.btn-citrus:active,
.btn-citrus.active,
.btn-citrus.disabled,
.btn-citrus[disabled] {
    color: #ffffff;
    background-color: #fcc300;
    *background-color: #fad011;
}

.btn-citrus.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-citrus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

/** Labels **/

.label, .badge {
    text-shadow: none;
    font-weight: normal;
    background-color: #333;
}

.label-header, .badge-header {
    min-width: 350px;
    font-size: 30.5px;
}

.label-emphasis, .badge-emphasis {
    min-width: 20px;
    font-size: 15px;
    text-align: center;
}

.label-primary {
    background-color: #0096D6;
}

.label-citrus, .badge-citrus {
    background-color: #fcc300;
}

.label-jms, .badge-jms {
    background-color: #fa6c00;
}

.label-http-client, .badge-http-client,
.label-http-server, .badge-http-server {
    background-color: #34abca;
}

.label-ssh-client, .badge-ssh-client,
.label-ssh-server, .badge-ssh-server {
    background-color: #f42222;
}

.label-mail-client, .badge-mail-client,
.label-mail-server, .badge-mail-server {
    background-color: #7c83c1;
}

.label-ws-client, .badge-ws-client,
.label-ws-server, .badge-ws-server{
    background-color: #026ebe;
}

.label-channel, .badge-channel {
    background-color: #96c1d2;
}

.label-ftp-client, .badge-ftp-client,
.label-ftp-server, .badge-ftp-server {
    background-color: #5cb85c;
}

.label-websocket-client, .badge-websocker-client,
.label-websocket-server, .badge-websocker-server {
    background-color: #b06db8;
}

.badge-success {
    background-color: #5cb85c
}

.badge-warning {
    background-color: #f0ad4e
}

.badge-danger {
    background-color: #d9534f
}

/** Icons **/

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-large {
    width: 48px;
    height: 48px;
    display: inline-block;
}

i.citrus {
    color: #fcc300;
}

i.jms {
    color: #faac00;
}

i.http {
    color: #92bed2;
}

i.ssh {
    color: #F4645C;
}

i.mail {
    color: #768dc1;
}

i.ws {
    color: #0480be;
}

i.channel {
    color: #92bed2;
}

/** List groups **/

.list-group {
    margin-top: 5px;
    margin-bottom: 10px;
}

.list-group-item {
    padding: 3px 15px;
}

.list-group-item:focus, .list-group-item:hover {
    background-color: #eff6fb;
}