<div class="btn-group pull-right">
  <button type="button" class="btn btn-default" (click)="openTestList()">Open</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li *ngIf="(packages|async).length == 0" role="presentation"><a role="menuitem" name="tests">No tests found</a></li>
    <li *ngFor="let package of packages|async" role="presentation" class="dropdown-submenu pull-left">
      <a role="menuitem" name="tests" class="clickable"><i class="fa fa-cubes"></i> {{package.name}}</a>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let test of package.tests" role="presentation">
          <a role="menuitem" (click)="open(test)" name="{{test.name}}" class="clickable">
            <i class="fa fa-file-text-o"></i> {{test.name | truncate:40}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<h2 *ngIf="openTests.length == 0">Open Test(s)</h2>

<tabs dynamic="true">
  <tab *ngFor="let test of openTests"
       tab-id="{{test.name}}"
       tab-title="{{test.name}}"
       closable="true"
       [active]="test.name == (selectedTest|async).name"
       (select)="onTabSelected(test)"
       (close)="onTabClosed(test)">
  </tab>
</tabs>

<test-detail *ngIf="selectedDetail" [detail]="selectedDetail"></test-detail>

<div *ngIf="openTests.length > 0 && !selectedDetail" style="display: block; text-align: center; margin-top: 150px;">
  <img class="ajax-loader" src="assets/images/ajax-loader.gif" style="width: 1.5em;"/>&nbsp;Loading test ...
</div>

<div *ngIf="openTests.length == 0" style="display: block; text-align: center; margin-top: 150px;">
  <h3>Open test(s)</h3>
  <p>Press 'O' to open test</p>
</div>

<div class="dialog"
     dialog-id="dialog-list-tests"
     dialog-title="List of tests"
     dialog-confirm="no">
  <test-listgroup [test-groups]="packages|async" (selected)="open($event);closeTestList()"></test-listgroup>
</div>