<h1 class="page-header">
  <i class="fa fa-cubes"></i> Tests <small>Run tests</small>
</h1>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li role="presentation">
            <a role="menuitem" name="all" (click)="select(undefined)" class="clickable"><i class="fa fa-cubes"></i> All tests</a>
          </li>
          <li *ngFor="let package of packages|async" role="presentation">
            <a role="menuitem" name="{{package.name}}" (click)="select(package)" class="clickable"><i class="fa fa-cubes"></i> {{package.name}}</a>
          </li>
        </ul>
      </span>
      <input type="text" class="form-control" value="{{(selected|async) ? (selected|async).name : 'All tests'}}">
      <span class="input-group-btn">
        <button type="button" class="btn btn-success" [disabled]="running" (click)="execute()"><i class="fa fa-play-circle"></i> Run</button>
      </span>
    </div>
  </div>
  <div class="col-lg-6">
    <button type="button" class="btn btn-default pull-right" (click)="openConsole()"><i class="fa fa-newspaper-o"></i> View logs</button>
  </div>
</div>

<p></p>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="30">Type</th>
        <th width="40%">Name</th>
        <th>Class</th>
        <th width="80">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <button class="btn btn-xs btn-success" (click)="executeAll()">
            <i class="fa fa-play-circle"></i>
          </button>
        </td>
        <td (click)="togglePackage()">
          <i class="fa clickable" [ngClass]="{'fa-caret-right': !(packagesOpen|async), 'fa-caret-down': packagesOpen|async}"></i>
          <i class="fa fa-file-text-o"></i>
          <span title="All tests">All tests</span>
        </td>
        <td (click)="togglePackage()"></td>
        <td>
          <execution-status-package
              [executionInfo]="getExecutionInfoForPackage(AllTests)|async"
              [success]="getPackageSuccess(AllTests)|async"
              (logs)="openConsole()"
          ></execution-status-package>
        </td>
      </tr>
    </tbody>
    <tbody *ngFor="let package of packageList|async">
      <tr >
        <td>
          <button class="btn btn-xs btn-success" (click)="executeGroup(package)">
            <i class="fa fa-play-circle"></i>
          </button>
        </td>
        <td style="padding-left: 25px" (click)="toggleTests(package)">
          <i class="fa clickable" [ngClass]="{'fa-caret-right': !(isOpen(package)|async), 'fa-caret-down': isOpen(package)|async}"></i>
          {{package.name}}
          <span class="badge badge-default">{{package.tests.length}}</span>
        </td>
        <td (click)="toggleTests(package)"></td>
        <td>
          <execution-status-package
              [executionInfo]="getExecutionInfoForPackage(package)|async"
              [success]="getPackageSuccess(package)|async"
              (logs)="openConsole(package)"
          ></execution-status-package>
        </td>
      </tr>
      <tr *ngFor="let result of resultListFor(package)|async" (click)="open(result.test)" class="clickable">
        <td><span class="badge badge-{{result.test.type | lowercase}}">{{result.test.type | lowercase}}</span></td>
        <td style="padding-left: 25px">
          <i class="fa fa-file-text-o"></i>
          <span title="{{result.test.className}}.{{result.test.methodName}}">{{result.test.name}}</span>
        </td>
        <td>{{result.test.className}}</td>
        <td>
          <execution-status-test [result]="result"></execution-status-test>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan="3"><a *ngIf="!running" routerLink="/report" title="View latest report"><i class="fa fa-tasks"></i> View test report</a></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="dialog"
     dialog-id="dialog-console"
     dialog-title="Console log output"
     dialog-confirm="no"
     dialog-size="lg">
  <p>Log output:</p>

  <pre class="logger" [textContent]="currentOutput|async"></pre>

</div>