<h1 class="page-header">
  <i class="fa fa-cubes"></i> Tests <small>Run tests</small>
</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Package</th>
        <th style="width: 4em;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-cubes"></i> <b>All tests</b></td>
        <td><button type="button" class="btn btn-success" title="Run tests" (click)="executeAll()" [disabled]="running">Run</button></td>
      </tr>
      <tr *ngFor="let testGroup of packages|async">
        <td><i class="fa fa-cubes"></i> <b>{{testGroup.name}}</b></td>
        <td><button type="button" class="btn btn-success" title="Run tests" (click)="execute(testGroup)" [disabled]="running">Run</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let result of finished">{{result.name}} - <span [textContent]="result.success ? 'SUCCESS' : 'FAILED'"></span></li>
</ul>

<pre class="logger" [textContent]="processOutput"></pre>