<div class="container content-header">
  <div>
    <h1>
      <i class="fa fa-wrench"></i> Configuration <small>Application context configuration</small>
    </h1>
  </div>
</div>

<div class="container">
  <pills>
    <pill pill-id="endpoints" pill-title="Endpoints" active="true">
      <endpoints></endpoints>
    </pill>
    <pill pill-id="schema-repository" pill-title="Schema Definitions">
      <h2>Schemas</h2>
    </pill>
    <pill pill-id="global-variables" pill-title="Global Variables">
      <global-variables></global-variables>
    </pill>
    <pill pill-id="function-library" pill-title="Functions">
      <function-library></function-library>
    </pill>
    <pill pill-id="validation-matcher" pill-title="Validation Matcher">
      <h2>Validation Matcher</h2>
    </pill>
    <pill pill-id="data-dictionary" pill-title="Data Dictionaries">
      <h2>Data Dictionaries</h2>
    </pill>
    <pill pill-id="namespace-context" pill-title="Namespace Context">
      <namespace-context></namespace-context>
    </pill>
  </pills>
</div>