<script src="../endpoints/endpoint-form.component.ts"></script>
<h1 class="page-header">
  <span><i class="fa fa-sitemap"></i> Spring beans</span>
  <div class="btn-group pull-right">
    <button [disabled]="bean" (click)="initNew()" type="button" class="btn btn-default">New</button>
  </div>
</h1>

<p>Bean components add very specific behavior to the Citrus components and the project in general. On this page you see
  all bean configurations in your project.</p>

<br/>

<form *ngIf="bean && form" class="form-horizontal" [formGroup]="form" (ngSubmit)="submit()">
  <h3 *ngIf="EditorMode.NEW === mode">Create Bean</h3>
  <h3 *ngIf="EditorMode.EDIT === mode">Edit Bean</h3>
  <form-group
    [control]="form.get('type')"
    label="Type *">
    <input-with-addon
      formControlName="type"
      [autofocus]="true"
      [message]="form.get('type').errors ? 'Field is required':''"
      [(ngModel)]="bean.clazz">
    </input-with-addon>
  </form-group>
  <form-group
      [control]="form.get('name')"
      label="Name *">
    <input-with-addon
        formControlName="name"
        [message]="form.get('name').errors ? 'Field is required':''"
        [(ngModel)]="bean.id">
    </input-with-addon>
  </form-group>
  <div class="form-group">
    <label class="col-sm-2 control-label">Properties</label>
    <div class="col-sm-4">
      <input [ngModelOptions]="{standalone: true}"
          [(ngModel)]="propertyName" placeholder="Name" type="text" class="form-control" name="propertyName"/>
    </div>
    <div class="col-sm-4">
      <input [ngModelOptions]="{standalone: true}"
          [(ngModel)]="propertyValue" placeholder="Value" type="text" class="form-control" name="propertyValue"/>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" [disabled]="!propertyValue || !propertyName" (click)="addProperty(bean)">Add</button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngIf="bean.properties?.length == 0" class="list-group-item"><i class="fa fa-times"></i> No properties defined</div>
        <div *ngFor="let property of bean.properties" class="list-group-item clickable">
          <i class="fa fa-file-text-o"></i>&nbsp;<b>{{property.name}}</b> = {{property.value}}&nbsp;<a
            class="btn-remove pull-right" (click)="removeProperty(bean, property, $event)" name="remove"
            title="Remove property"><i class="fa fa-times" style="color: #A50000;"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">
        Save
      </button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" (click)="setDisplay('table')"><i class="fa fa-bars"></i></button>
  <button type="button" class="btn btn-default" (click)="setDisplay('grid')"><i class="fa fa-th"></i></button>
</div>

<p></p>

<div *ngIf="display == 'table'" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Properties</th>
        <th width="50">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="beans?.length == 0">
        <td colspan="4"><i class="fa fa-sitemap"></i> No beans found for project</td>
      </tr>
      <tr *ngFor="let bean of beans" (click)="selectBean(bean)" class="clickable">
        <td>{{bean.id ? bean.id : 'bean'}}</td>
        <td>
          <ul class="properties endpoint-properties">
            <li><b>type</b>: {{bean.clazz | clazz:'name'}}</li>
            <li><b>package</b>: {{bean.clazz | clazz:'package'}}</li>
          </ul>
        </td>
        <td>
          <ul class="properties endpoint-properties">
            <li *ngFor="let property of bean.properties" [hidden]="!property.value"><b>{{property.name}}</b>:
              {{property.value}}
            </li>
          </ul>
        </td>
        <td>
          <a (click)="selectBean(bean)" name="edit" title="Edit bean"><i class="fa fa-edit"></i></a>
          &nbsp;|&nbsp;
          <a (click)="removeBean(bean, $event)" name="remove" title="Remove bean"><i class="fa fa-times" style="color: #A50000;"></i></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>

<div *ngIf="!bean && !form && display=='grid'" style="display: flex; flex-wrap: wrap">
  <div *ngIf="beans.length == 0" class="panel panel-default cols-xs-12">
    <div class="panel-body">
      <i class="fa fa-times"></i> No beans defined
    </div>
  </div>

  <detail-panel *ngFor="let bean of beans">
    <div detail-panel-heading
         (click)="selectBean(bean)"
         (remove)="removeBean(bean, $event)"
         [title]="bean.id ? bean.id : '<bean>'">
    </div>
    <div class="panel-body" style="min-height: 10em;">
      <ul class="properties endpoint-properties">
        <li><b>type</b>: {{bean.clazz | clazz:'name'}}</li>
        <li><b>package</b>: {{bean.clazz | clazz:'package'}}</li>
      </ul>
      <ul class="properties endpoint-properties">
        <li *ngFor="let property of bean.properties" [hidden]="!property.value"><b>{{property.name}}</b>:
          {{property.value}}
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <span>&nbsp;</span>
      <a class="clickable pull-right" (click)="selectBean(bean)" name="edit" title="Edit bean"><i class="fa fa-edit"></i></a>
    </div>
  </detail-panel>
</div>