<h2 class="page-header">
  <span><i class="fa fa-copy"></i> Schema Repositories</span>
  <div class="btn-group pull-right">
    <button [disabled]="selectedRepository" (click)="initRepository()" type="button" class="btn btn-default dropdown-toggle">New</button>
  </div>
</h2>

<p>When dealing with XML message payloads proper schema definition checks are required in order to ensure syntax and interface contract rules. In Citrus
  we define all our schema definitions in schema-repository components. The schema files are picked up automatically during a test run and incoming XML messages
  are validated accordingly.</p>

<p>Your project defines <span class="badge badge-emphasis badge-citrus">{{repositories.length}}</span> custom schema repositories. See all available repositories listed below:</p>

<br/>

<form *ngIf="newRepository" class="form-horizontal">
  <h3>New Repository</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="newRepository.id" placeholder="Name" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Mapping strategy</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input [(ngModel)]="newRepository.mappingStrategy" placeholder="Mapping Strategy" type="text" class="form-control"/>
        <div class="btn-group input-group-btn">
          <button class="btn btn-option-search dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-search"></i>
          </button>
          <ul class="dropdown-menu">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Schemas</label>
    <div class="col-sm-3">
      <input [(ngModel)]="newSchema.id" placeholder="Name" type="text" class="form-control"/>
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="newSchema.location" placeholder="Location" type="text" class="form-control"/>
    </div>
    <div class="col-sm-1">
      <button (click)="addSchema()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="#schema of newRepository.schemas.schemas" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{schema.id}}</b> location={{schema.location}}&nbsp;<a class="pull-right" name="remove-schema" title="Remove schema" (click)="removeSchema(schema)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Referenced Schemas</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input [(ngModel)]="newSchemaReference.schema" placeholder="Referenced Schema" type="text" class="form-control"/>
        <div class="btn-group input-group-btn">
          <button class="btn btn-option-search dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-search"></i>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="#schema of schemas" (click)="newSchemaReference.schema = schema.id"><a name="{{schema.id}}" class="clickable">{{schema.id}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <button (click)="addSchemaReference()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="#reference of newRepository.schemas.references" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{reference.schema}}</b>&nbsp;<a class="pull-right" name="remove-schema-reference" title="Remove schema reference" (click)="removeSchemaReference(reference)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="createRepository()" type="submit">Create</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<form *ngIf="selectedRepository" class="form-horizontal">
  <h3>Edit Repository</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="selectedRepository.id" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Mapping strategy</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input [(ngModel)]="selectedRepository.mappingStrategy" placeholder="Mapping Strategy" type="text" class="form-control"/>
        <div class="btn-group input-group-btn">
          <button class="btn btn-option-search dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-search"></i>
          </button>
          <ul class="dropdown-menu">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Schemas</label>
    <div class="col-sm-3">
      <input [(ngModel)]="newSchema.id" placeholder="Name" type="text" class="form-control"/>
    </div>
    <div class="col-sm-6">
      <input [(ngModel)]="newSchema.location" placeholder="Location" type="text" class="form-control"/>
    </div>
    <div class="col-sm-1">
      <button (click)="addSchema()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="#schema of selectedRepository.schemas.schemas" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{schema.id}}</b> location={{schema.location}}&nbsp;<a class="pull-right" name="remove-schema" title="Remove schema" (click)="removeSchema(schema)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Referenced Schemas</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input [(ngModel)]="newSchemaReference.schema" placeholder="Referenced Schema" type="text" class="form-control"/>
        <div class="btn-group input-group-btn">
          <button class="btn btn-option-search dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-search"></i>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="#schema of schemas" (click)="newSchemaReference.schema = schema.id"><a name="{{schema.id}}" class="clickable">{{schema.id}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <button (click)="addSchemaReference()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="list-group">
        <div *ngFor="#reference of selectedRepository.schemas.references" class="list-group-item clickable"><i class="fa fa-file-text-o"></i>&nbsp;<b>{{reference.schema}}</b>&nbsp;<a class="pull-right" name="remove-schema-reference" title="Remove schema reference" (click)="removeSchemaReference(reference)"><i class="fa fa-times" style="color: #A50000;"></i></a></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="saveRepository()" type="submit">Save</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<div *ngIf="!newRepository && !selectedRepository && !newGlobalSchema && !selectedGlobalSchema" class="list-group">
  <div *ngIf="repositories.length == 0" class="list-group-item"><i class="fa fa-times"></i> No schema repositories defined</div>

  <div *ngFor="#repository of repositories" class="list-group-item clickable" (click)="selectRepository(repository)">
    <a class="pull-right" (click)="removeRepository(repository, $event)" name="remove" title="Remove repository"><i class="fa fa-times" style="color: #A50000;"></i></a>
    <span class="label label-primary"><i class="fa fa-copy"></i></span>&nbsp;<span><b>{{repository.id}}</b></span>
    <ul class="properties">
      <li><b>schemas:</b> <span *ngFor="#schema of repository.schemas.schemas">&nbsp;{{schema.id}}&nbsp;|</span></li>
      <li><b>references:</b> <span *ngFor="#reference of repository.schemas.references">&nbsp;{{reference.schema}}&nbsp;|</span></li>
    </ul>
  </div>
</div>

<h2 class="page-header">
  <span><i class="fa fa-file-code-o"></i> Schemas</span>
  <div class="btn-group pull-right">
    <button [disabled]="selectedSchema" (click)="initGlobalSchema()" type="button" class="btn btn-default dropdown-toggle">New</button>
  </div>
</h2>

<p>Globally defined schema resources that can be reused in multiple schema repositories. Schema repositories do simply reference the schemas defined in global scope. Global scoped schemas
should always be reused in multiple repositories otherwise please define the schema as private member of the schema repository itself.</p>

<br/>

<form *ngIf="newGlobalSchema" class="form-horizontal">
  <h3>New Schema</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="newGlobalSchema.id" placeholder="Name" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Location <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="newGlobalSchema.location" placeholder="Location" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="createGlobalSchema()" type="submit">Create</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<form *ngIf="selectedGlobalSchema" class="form-horizontal">
  <h3>Edit Schema</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="selectedGlobalSchema.id" placeholder="Name" disabled="disabled" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Location <em>*</em></label>
    <div class="col-sm-10">
      <input [(ngModel)]="selectedGlobalSchema.location" placeholder="Location" type="text" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" (click)="saveGlobalSchema()" type="submit">Save</button>
      <button class="btn btn-default" (click)="cancel()" type="reset">Close</button>
    </div>
  </div>
</form>

<div *ngIf="!newRepository && !selectedRepository && !newGlobalSchema && !selectedGlobalSchema" class="list-group">
  <div *ngIf="schemas.length == 0" class="list-group-item"><i class="fa fa-times"></i> No schemas defined</div>

  <div *ngFor="#schema of schemas" class="list-group-item clickable" (click)="selectGlobalSchema(schema)">
    <a class="pull-right" (click)="removeGlobalSchema(schema, $event)" name="remove" title="Remove schema"><i class="fa fa-times" style="color: #A50000;"></i></a>
    <span class="label label-primary"><i class="fa fa-file-text-o"></i></span>&nbsp;
    <span><b>{{schema.id}}</b></span>
    <ul class="properties">
      <li><b>location:</b> {{schema.location}}</li>
    </ul>
  </div>
</div>