<h1 class="page-header">
  <i class="fa fa-cubes"></i> Tests <small>Run tests</small>
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li role="presentation">
              <a role="menuitem" name="all" (click)="select(undefined)" class="clickable"><i class="fa fa-cubes"></i> All tests</a>
            </li>
            <li *ngFor="let package of packages|async" role="presentation">
              <a role="menuitem" name="{{package.name}}" (click)="select(package)" class="clickable"><i class="fa fa-cubes"></i> {{package.name}}</a>
            </li>
          </ul>
        </span>
        <input type="text" class="form-control" value="{{selected ? selected.name : 'All tests'}}">
        <span class="input-group-btn">
          <button type="button" class="btn btn-success" [disabled]="running" (click)="execute()"><i class="fa fa-play-circle"></i> Run</button>
        </span>
      </div>
    </div>
    <div class="col-lg-6">
      <button *ngIf="!logging" type="button" class="btn btn-default pull-right" (click)="toggleLogs()"><i class="fa fa-newspaper-o"></i> View logs</button>
      <button *ngIf="logging" type="button" class="btn btn-default pull-right" (click)="toggleLogs()"><i class="fa fa-newspaper-o"></i> Hide logs</button>
    </div>
  </div>
</div>

<div *ngIf="logging" class="space-top-30">
  <p>Log output:</p>
  <pre class="logger" [textContent]="currentOutput"></pre>
</div>

<div *ngIf="!logging" class="table-responsive space-top-30">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th width="30">Type</th>
        <th width="40%">Name</th>
        <th>Class</th>
        <th width="80">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results" (click)="open(result.test)" class="clickable">
        <td><span class="badge badge-{{result.test.type | lowercase}}">{{result.test.type | lowercase}}</span></td>
        <td>
          <i class="fa fa-file-text-o"></i>
          <span title="{{result.test.className}}.{{result.test.methodName}}">{{result.test.name}}</span>
        </td>
        <td>{{result.test.className}}</td>
        <td>
          <span *ngIf="!running && result.success == undefined">&nbsp;</span>
          <img *ngIf="running && result.success == undefined" class="ajax-loader" src="assets/images/ajax-loader.gif" style="width: 1.3em;"/>
          <span *ngIf="result.success != undefined" [class]="(result.success == undefined) ? 'badge' : (result.success ? 'badge badge-success' : 'badge badge-danger')" [textContent]="result.success ? 'SUCCESS' : 'FAILED'"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
