<h1 class="page-header">
  <span><i class="fa fa-share-alt-square"></i> Endpoints</span>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">New <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li *ngFor="let type of endpointTypes" [routerLink]="['endpoint-editor', {type:type}]">
        <a [name]="type" class="clickable">
          <endpoint-label [type]="type"></endpoint-label>
        </a>
      </li>
      <li [routerLink]="['/settings/modules']">
        <a name="more" class="clickable">... more modules</a>
      </li>
    </ul>
  </div>
</h1>

<p>Endpoint components create producer and consumers for sending and receiving messages to/from various endpoint destinations. Endpoint components can be of synchronous and asynchronous nature and get referenced in test cases
  when sending and receiving messages.</p>

<br/>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" (click)="setDisplay('table')"><i class="fa fa-bars"></i></button>
  <button type="button" class="btn btn-default" (click)="setDisplay('grid')"><i class="fa fa-th"></i></button>
</div>

<p></p>

<div *ngIf="display == 'table'" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Properties</th>
        <th width="50">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="endpoints?.length == 0">
        <td colspan="4"><i class="fa fa-share-alt-square"></i> No endpoints found for project</td>
      </tr>
      <tr *ngFor="let endpoint of endpoints" (click)="invokeEdit(endpoint, $event)" class="clickable">
        <td><endpoint-label [type]="endpoint.type" [enclosing]="true"></endpoint-label></td>
        <td>{{endpoint.id}}</td>
        <td>
          <ul class="properties endpoint-properties">
            <li *ngFor="let property of endpoint.properties" [hidden]="!property.value"><b>{{property.id}}</b>: {{property.value}}</li>
          </ul>
        </td>
        <td>
          <a [routerLink]="['endpoint-editor', endpoint.id]" name="edit" title="Edit endpoint"><i class="fa fa-edit"></i></a>
          &nbsp;|&nbsp;
          <a (click)="invokeRemove(endpoint, $event)" name="remove" title="Remove endpoint"><i class="fa fa-times" style="color: #A50000;"></i></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>

<div *ngIf="display == 'grid'" style="display: flex; flex-wrap: wrap">
  <div *ngIf="endpoints.length == 0" class="panel panel-default">
    <div class="panel-body">
      <i class="fa fa-times"></i> No endpoints defined
    </div>
  </div>

  <detail-panel *ngFor="let endpoint of endpoints">
    <div detail-panel-heading
         [title]="endpoint.id"
         [routerLink]="['endpoint-editor', endpoint.id]"
         (remove)="invokeRemove(endpoint, $event)">
    </div>
    <div class="panel-body" style="min-height: 10em;">
      <ul class="properties endpoint-properties">
        <li *ngFor="let property of endpoint.properties" [hidden]="!property.value"><b>{{property.id}}</b>: {{property.value}}</li>
      </ul>
    </div>
    <div class="panel-footer">
      <endpoint-label [type]="endpoint.type" [enclosing]="true"></endpoint-label>
      <a class="clickable pull-right"
         [routerLink]="['endpoint-editor', endpoint.id]"
         name="edit" title="Edit endpoint"><i class="fa fa-edit"></i></a>
    </div>
  </detail-panel>
</div>
