<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/"><img src="assets/images/brand-logo.png"/> <span>Citrus</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a [routerLink]="['/project']" [routerLinkActive]="['active']">Project <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a [routerLink]="['/new']">New</a></li>
              <li><a href="/setup">Open</a></li>
              <li><a [routerLink]="['/project']">Dashboard</a></li>
              <li><a [routerLink]="['/project/settings']">Settings</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/configuration']" [routerLinkActive]="['active']">Configuration</a></li>
          <li><a [routerLink]="['/tests']" [routerLinkActive]="['active']">Tests</a></li>
          <li><a [routerLink]="['/report']" [routerLinkActive]="['active']">Report</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/about']" [routerLinkActive]="['active']">About</a></li>
          <li><a [routerLink]="['/log']" [routerLinkActive]="['active']">Log</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <div class="alert-console pull-right" type="labels" style="position:relative;top:-1.5em;"></div>
</div>
