<div class="row" style="margin-top: 100px; margin-bottom: 25px; text-align: center;">
  <div class="col-lg-12">
    <h4>You have not selected a project yet! <br/> Please open a project or create a new project.</h4>
  </div>
</div>

<div class="center-block" style="max-width:400px">
  <a class="btn btn-lg btn-primary btn-block" routerLink="/open" style="min-width: 20em;"><i class="fa fa-folder-open-o"></i> Open project</a>
  <a class="btn btn-lg btn-primary btn-block" routerLink="/new" style="min-width: 20em;"><i class="fa fa-plus"></i> New project</a>
</div>