<ul class="nav nav-sidebar">
  <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']"><i class="fa fa-cube"></i><span class="hidden-xs">&nbsp;&nbsp;Dashboard</span></a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration']"><i class="fa fa-wrench"></i><span class="hidden-xs">&nbsp;&nbsp;Configuration</span></a></li>
  <ul class="nav hidden-xs" *ngIf="isActive('configuration')">
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/endpoints']"><i class="fa fa-square-o"></i> Endpoints</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/spring-context']"><i class="fa fa-square-o"></i> Spring Application Context</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/spring-beans']"><i class="fa fa-square-o"></i> Spring Beans</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/schema-repository']"><i class="fa fa-square-o"></i> Schema Repository</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/global-variables']"><i class="fa fa-square-o"></i> Global Variables</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/function-library']"><i class="fa fa-square-o"></i> Function Library</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/validation-matcher']"><i class="fa fa-square-o"></i> Validation Matcher</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/data-dictionary']"><i class="fa fa-square-o"></i> Data Dictionary</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/configuration/namespace-context']"><i class="fa fa-square-o"></i> Namespace Context</a></li>
  </ul>
  <li [routerLinkActive]="['active']"><a [routerLink]="['/tests']"><i class="fa fa-cubes"></i><span class="hidden-xs">&nbsp;&nbsp;Tests</span></a></li>
  <ul class="nav hidden-xs" *ngIf="isActive('tests')">
    <li [routerLinkActive]="['active']"><a [routerLink]="['/tests/run']"><i class="fa fa-square-o"></i> Run</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/tests/list']"><i class="fa fa-square-o"></i> List</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/tests/detail']"><i class="fa fa-square-o"></i> Details</a></li>
  </ul>
  <li [routerLinkActive]="['active']"><a [routerLink]="['/report']"><i class="fa fa-tasks"></i><span class="hidden-xs">&nbsp;&nbsp;Test Report</span></a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['/settings']"><i class="fa fa-cog"></i><span class="hidden-xs">&nbsp;&nbsp;Settings</span></a></li>
  <ul class="nav hidden-xs" *ngIf="isActive('settings')">
    <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/project']"><i class="fa fa-square-o"></i> Project</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/connector']"><i class="fa fa-square-o"></i> Connector</a></li>
  </ul>
</ul>